<!-- Navbar -->
<nav class="navbar navbar-expand-lg sticky-top bg-white shadow-sm border-bottom"
  style="backdrop-filter: blur(10px); z-index: 100;">
  <div class="container-xl">
    <a class="navbar-brand fw-bold" href="#">
      <img src="../../../../assets/logo-travel.png" alt="Travel Latam"
        width="120" />
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 gap-lg-4">
        <li class="nav-item">
          <a class="nav-link nav-link-custom" href="#">Inicio</a>
        </li>

        <!-- SOLO mostrar este dropdown si el usuario es writer o admin -->
        <li class="nav-item dropdown"  *ngIf="user !== undefined &&  user?.roles?.includes('Writer')" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Administrador <i class="fa-solid fa-chevron-down"
              style="color: #f3d162;"></i>
          </a>

          <ul class="dropdown-menu">
            <!-- Mostrar Categorías solo si es admin -->
            <li>
              <a class="dropdown-item"
                [routerLink]="['admin/categories']">Categorias</a>
            </li>

            <!-- Mostrar Publicaciones si es admin o writer -->
            <li>
              <a class="dropdown-item"
                [routerLink]="['admin/blogposts']">Publicaciones</a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-link-custom" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom" href="#">Actividades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom" href="#">Nosotros</a>
        </li>
      </ul>

      <div class="d-flex gap-2">
        <!-- Si user es undefined o null, muestra login -->
        <ng-container *ngIf="!user; else showLogout">
          <a class="btn btn-outline-gold fw-semibold px-3 py-2"
            [routerLink]="['/login']">
            Iniciar Sesión
          </a>
        </ng-container>

        <!-- Si user existe, muestra su email y boton de logout -->
        <ng-template #showLogout>
          <div class="d-flex align-items-center justify-content-between">
            <span class="d-block me-3 fw-bold">{{ user?.email }}</span>
            <button class="btn btn-outline-gold fw-semibold px-3 py-2 "
              (click)="onLogout()">Cerrar
              Sesión</button>
          </div>
        </ng-template>
      </div>

    </div>
  </div>
</nav>
