<div class="container-xl d-flex justify-content-center align-items-center"
  style="min-height: 100vh;">
  <div class="form-wrapper bg-white p-4 rounded shadow"
    style="max-width: 640px; width: 100%;">

    <h1 class="text-dark text-center mb-4 fw-bold">Editar Categoría</h1>

    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
      <ng-container *ngIf="category; else noCategory">

        <div class="mb-3">
          <label class="form-label">Identificación de la Categoría</label>
          <input
            type="text"
            class="form-control"
            name="categoryId"
            disabled
            [(ngModel)]="category.id" />
        </div>

        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            name="categoryName"
            id="categoryName"
            [(ngModel)]="category.name" />
        </div>

        <div class="mb-3">
          <label class="form-label">URL Handle</label>
          <input
            type="text"
            class="form-control"
            id="categoryUrlHandle"
            name="categoryUrlHandle"
            [(ngModel)]="category.urlHandle" />
        </div>

        <div class="mb-3 d-flex gap-3">
          <!--  Guardar  -->
          <button
            type="submit"
            class="btn w-100 p-2"
            style="background-color: #efcc6b; color: #212529; border: 2px solid #e1b72a;">
           <i class="fas fa-check-circle fa-lg me-2"></i>
            <span class="fw-bold">Guardar</span>
          </button>

          <!--  Eliminar -->
          <button
            type="button"
            class="btn w-100 p-2"
            style="background-color: #f8d7da; color: #a4212e; border: 2px solid #e4b1b8;"
            (click)="onDelete()">
            <i class="fas fa-trash me-2"></i> Eliminar
          </button>
        </div>

      </ng-container>
    </form>

    <ng-template #noCategory>
      <div class="alert alert-warning text-center" role="alert">
        No hay categoría seleccionada
      </div>
    </ng-template>

  </div>
</div>
