<div class="container-fluid auth-wrapper">
  <div class="row w-100 shadow-lg bg-white">
    <!-- Formulario -->
    <div
      class="col-12 col-md-6 d-flex align-items-center justify-content-center">
      <div class="register-box">
        <h4 class="mb-3 display-6 fw-bold">Crea tu cuenta y únete a la
          aventura</h4>
        <p class="text-muted mb-4">
          Regístrate para descubrir destinos únicos y vivir experiencias
          inolvidables.
        </p>

        <form (ngSubmit)="onFormSubmit()" #registerForm="ngForm" novalidate>
          <!-- Email -->
          <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico*</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              [(ngModel)]="model.email"
              #emailRef="ngModel"
              required
              email
              placeholder="usuario@ejemplo.com" />
            <div
              *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)"
              class="text-danger small mt-1">
              <div *ngIf="emailRef.errors?.['required']">El correo es
                obligatorio.</div>
              <div *ngIf="emailRef.errors?.['email']">Formato de correo
                inválido.</div>
            </div>
          </div>

          <!-- Password -->
          <div class="mb-4">
            <label for="password" class="form-label">Contraseña*</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              [(ngModel)]="model.password"
              #passwordRef="ngModel"
              required
              minlength="6"
              placeholder="********" />
            <div
              *ngIf="passwordRef.invalid && (passwordRef.dirty || passwordRef.touched)"
              class="text-danger small mt-1">
              <div *ngIf="passwordRef.errors?.['required']">La contraseña es
                obligatoria.</div>
              <div *ngIf="passwordRef.errors?.['minlength']">Debe tener al menos
                6 caracteres.</div>
            </div>
          </div>

          <button type="submit" class="btn btn-submit w-100 mb-3"
            [disabled]="registerForm.invalid || isLoading">
            {{ isLoading ? 'Registrando...' : 'Crear cuenta' }}
          </button>

          <div *ngIf="errorMessage" class="alert alert-danger mt-2">
            {{ errorMessage }}
          </div>

          <div
            class="d-flex flex-column flex-md-row align-items-center gap-2 justify-content-start  p-3 mt-3 rounded">
            <p class="mb-2 mb-md-0">¿Ya tienes cuenta?</p>
            <a routerLink="/login"
              class="fw-bold  px-3 py-2">Inicia
              sesión aquí</a>
          </div>

        </form>
      </div>
    </div>

    <!-- Imagen -->
    <div class="col-md-6 d-none d-md-block p-0 image-section">
      <div class="image-overlay-text w-75 p-2">
        <h2>Explora Sudamérica</h2>
        <p>Conoce paisajes únicos, culturas y aventuras que te esperan.</p>
      </div>
    </div>
  </div>
</div>
