/* Efecto de zoom suave */
.card {
  transition: all 0.3s ease;
}

.card-img-top {
  overflow: hidden;
}

.card-img-top img {
  cursor: pointer;
  transition: transform 0.5s ease;
}

.card:hover .card-img-top img {
  transform: scale(1.05);
}

/* Mejora la tarjeta al hacer hover */
.card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  transform: translateY(-5px);
}
