

/* Celdas */
.table th,
.table td {
  vertical-align: middle;
}

/* Boton  */
.btn-warning {
  background-color: #fff3cd !important;
  border-radius: 8px !important;
  font-weight: bold;
}

/* Boton agregar categoria */
.btn-dark {
  border-radius: 8px;
}

/* Mensaje cuando no hay categorias */
.alert-warning {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin: 2rem auto;

}


/* Pagina  */
.page-item.active .page-link {
  background-color: #007bff !important;
  border-color: #007bff !important;
  color: white !important;
}

/* Efecto hover para las demas paginas */
.page-link:hover {
  background-color: #e9ecef;
  color: #007bff !important;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Transicion */
.page-link {
  transition: background-color 0.3s ease, color 0.3s ease;
}

