<div class="container-xl">
  <h2 class="fw-bold p-3 text-center mb-3 mt-5 display-5">Lista de
    Categorías</h2>

  <div class="d-flex justify-content-between mb-3  align-items-center">
    <!-- #queryText,  referencia local del input para obtener su valor -->
    <div class="input-group" style="max-width: 500px;">
      <input type="text" #queryText class="form-control form-control-lg"
        placeholder="Buscar categoría.">
      <button class="btn btn-dark" type="button"
        (click)="onSearch(queryText.value)">
        <i class="fas fa-search fx-5 me-2"></i> Buscar
      </button>
    </div>
    <a [routerLink]="['/admin/categories/add']"
      class="btn btn-dark btn-sm p-2 d-flex align-items-center">
      <i class="fas fa-folder-plus me-2"></i>
      Agregar Categoría
    </a>
  </div>

  <!-- Si encuentra categorias -->
  <ng-container *ngIf="categories$ | async as categories; else noCategories">
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Url Handle</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.id }}</td>
          <td>{{ category.name }}</td>
          <td>{{ category.urlHandle }}</td>
          <td>
            <button class="btn btn-sm btn-warning me-2"
              [routerLink]="['/admin/categories', category.id]">
              Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <!-- Si no hay categorias -->
  <ng-template #noCategories>
    <div class="alert alert-warning" role="alert">
      No hay categorías registradas.
    </div>
  </ng-template>
</div>
